@import "tailwindcss";

@theme inline {
  --color-background: #111b21;
  --color-foreground: #e9edef;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #c8c4bc transparent;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  background: #c8c4bc;
  border-radius: 3px;
}

input[dir="rtl"]::placeholder {
  text-align: right;
}
